.container
  = render "alert"
  %h3 プログラミング知識を共有しよう。
  .row
    .col-xs-12
      = link_to "ノウハウ Tipsを投稿する", new_article_path, class: "btn btn-primary"
      %nav.feed-container
        %ul.nav.nav-tabs
          %li.active
            %a フィード
          %li
            %a 全ての投稿
          %li.pull-right
            %a ストック
          %li.pull-right
            = link_to "#" do
              自分の投稿
              %span.my-post-count 0
      .content-body
        = page_entries_info @articles

        - if @articles.any?
          %ul.nav.nav-stacked
            = content_tag_for :li, @articles do |article|
              %h3= link_to article.title, article
        -else
          %h4 投稿はありません。
        = paginate @articles
