.container
  = render "alert"
  %h3 プログラミング知識を共有しよう。
  .row
    .col-xs-12
      = link_to "ノウハウ Tipsを投稿する", new_article_path, class: "btn btn-primary"
      %nav.feed-container
        %ul.nav.nav-tabs
          %li.active
            = link_to "フィード", "#", data:{toggle:"tab"}
          %li
            = link_to "全ての投稿", "#", data:{toggle:"tab"}
          %li.pull-right
            = link_to "ストック", "#", data:{toggle: "tab"}
          %li.pull-right
            = link_to "#", data:{toggle: "tab"} do
              自分の投稿
              %span.my-post-count 0
      .content-body
        = page_entries_info @articles
        - if @articles.any?
          = render partial: "list", locals: { articles: @articles }
        -else
          %h4 投稿はありません。
        = paginate @articles
