!!!5
%html
%head
  %title Iiita
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  -# = stylesheet_link_tag    'application', media: 'all'
  -# = javascript_include_tag 'application', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  -# = javascript_include_tag 'application'
  = csrf_meta_tags
%body

%header
  = render "common_header" if current_user

%section
  = yield

%footer
  = render "footer"
