= form_for(:user, url: user_registration_path, html:{ class:"landing-signup-form" }) do |f|
  = f.text_field :name, class:"form-control landing-form-username", placeholder:"ユーザ名"
  = f.text_field :email, class:"form-control landing-form-mailaddress", placeholder:"メールアドレス"
  = f.password_field :password, class:"form-control", placeholder:"パスワード"
  .agreement-eula
    %small 利用規約に同意のうえ、「利用規約に同意して登録」ボタンを押してください。
  .form-group
    .text-right
      .cancel-new-user-link.btn.btn-link キャンセル
      = f.submit "利用規約に同意して登録", class: "btn btn-primary"
